* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  /* background-color: black; */
  color: white;
  justify-content: space-between;
}

#radiozone {
  color: black;
  font-size: 20px;
  text-align: center;
}

.inputs{
  margin-left: 30px;
}


ul {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 15px;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: 5px;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: gray;
  /* min-height: max-content; */
}

h3 {
  color: black;
}

p {
  font: 1em sans-serif;
  text-transform: capitalize;
  color: black;
}

h4 {
  color: rgb(110, 20, 4);
  text-transform: capitalize;
}
